<div class="mw6 w-60-l w-80 center mt4 pa2 mb4 bg-white">
    <div class="pa4 outline shadow-box-black">
        <h2 class="raleway">Is there class tonight?</h2>
        <p class="f4-ns f5 lh-copy raleway red b">Gentle Yoga (4:15-5:15) - NO!</p>
        <p class="f4-ns f5 lh-copy raleway red b">Vinyasa Flow (5:45-6:45) - NO!</p>
        <!--p class="f4-ns f5 lh-copy raleway red b"></p-->
    </div>
    <br />
    <br />
    <p class="f4-ns f5 lh-copy raleway">
        <strong class="playfair f3-ns f4">No Place Like Om</strong> is a yoga studio and meditation center offering various types of mat yoga for students
        of all levels regardless of age, skill level, or body type. Whether you are a beginner or a seasoned yogi, all classes
        are taught in layers that allow students of all levels to practice together at their own pace.
    </p>
    <p class="f4-ns f5 lh-copy raleway">
        At
        <strong class="playfair f3-ns f4">No Place Like Om</strong>, we seek to promote the wellness of students and clients through a holistic approach, strengthening
        the body and mind. You won’t ever feel intimidated or left behind, but you will feel challenged, relaxed, and respected
        as you invite us to share in your practice and lifelong journey through yoga.
    </p>
    <br />
    <div class="pa4 outline shadow-box-black">
        <h2 class="raleway">
            You hope you enjoy your time with us and please don't hesitate to contact us with any
            <a href="mailto:noplacelikeom.pa@gmail.com?subject=Contact Us" class="no-underline squiggle-line-teal nploTeal">questions</a>.
        </h2>
    </div>
</div>