<div class="mt6 map-responsive">
    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCAWufYkxyoGfBTooiZqOnzBZm9yuI0Duw&q=10+E+Main+St,+Waynesboro,+PA+17268" allowfullscreen>
    </iframe>
</div>

<footer class="bg-near-white w-100">
    <div class="mw9 w-90-l w-90-ns center pt3">
        <div id="footer-contact">
            <a routerLink="about" class="link">
                <h2 class="f3 tc scriptoramaJf fw7 pb3 nploTeal">
                    No Place Like Om
                </h2>
            </a>
            <p class="f6 mid-gray tc roboto nt3">
                Yoga & Meditation
            </p>
            <p class="f6 mid-gray tc roboto nt3">
                10 E Main Street
            </p>
            <p class="f6 mid-gray tc roboto nt3">
                Waynesboro, PA 17268
            </p>
            <p class="f7 mid-gray tc roboto nt3">
                717-576-6466
            </p>

            <ul class="list pl0 tc">
                <li class="pa1 raleway di">
                    <a href="mailto:noplacelikeom.pa@gmail.com?subject=Contact Us" class="no-underline nploTeal">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="pa1 raleway di">
                    <a href="https://www.facebook.com/noplacelikeompa/" target="_blank" class="no-underline nploTeal">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="pa1 raleway di">
                    <a href="https://www.instagram.com/zen_yama_mama/" target="_blank" class="no-underline nploTeal">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div id="footer-copyright">
            <p class="f7 mid-gray tc roboto">&copy;{{ year }} | no place like om pa, llc</p>
        </div>
    </div>
</footer>