<div class="mw7 w-70-l w-70 center raleway pa2 pt4">     
    <div class="outline pa4 shadow-box-black">
        <p class="f4-ns f5 lh-copy">Please find the current schedule below. This includes regular, recurring class offerings. Check back frequently for updates and specialty classes!</p>
        <p class="f4-ns f5 lh-copy">For more details, future schedule changes, and breaking updates be sure to follow us on <a href="https://www.facebook.com/noplacelikeompa/" target="_blank" class="no-underline squiggle-line-teal nploTeal">Facebook</a></p>
        <p class="f4-ns f5 lh-copy">Please use the form below to signup when possible!</p>
    </div>
    <br />
    <br />
    <!--div class="iframe-container">
        <iframe #scheduleIframe (load)="onIframeLoad(scheduleIframe)" name="frame2" src="https://app.punchpass.com/org/4061/classes?embed=true" height="700" width="100%"></iframe> 
    </div-->
    <div class="iframe-container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc6F5WuxHfo69eBXZNjIHERlkuJCfsAXdXI4asaOPmq58D4lA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    <div class="mw7 w-70-l w-90 center raleway pa2 pt4">
        <h2 class="f2-ns f3 white bg-black">Upcoming Specialty Classes</h2>
    </div>
    <div class="mw7 w-70-l w-90 center raleway pa2">
        <h2 class="f2-ns f3 white bg-black">Tuesdays</h2>
        <div class="outline pa2 shadow-box-black">
            <h2 class="f2-ns f3 nploTeal fw4">Gentle Yoga</h2>
            <p class="fw7 roboto">4:15-5:15 PM</p>
            <hr />
            <h2 class="f2-ns f3 nploTeal fw4">Vinyasa Flow Yoga</h2>
            <p class="fw7 roboto">5:45-6:45 PM</p>
        </div>
        <h2 class="f2-ns f3 white bg-black">Thursdays</h2>
        <div class="outline pa2 shadow-box-black">
            <h2 class="f2-ns f3 nploTeal fw4">Beginner Flow</h2>
            <p class="fw7 roboto">7:00-8:00 PM</p>
        </div>
        <h2 class="f2-ns f3 white bg-black">Saturdays</h2>
        <div class="outline pa4 shadow-box-black">
            <h2 class="f2-ns f3 nploTeal fw4">Vinyasa Flow Yoga</h2>
            <p class="fw7 roboto">10:30-11:30 AM</p>
        </div>
    </div>
</div>