<div class="mw7 w-70-l w-70 center roboto pa2 pt6 mt4">     
    <p class="f4-ns f5 lh-copy">Our class schedule will load below. If it does not show up after a few seconds, please click <a class="link" href="https://app.punchpass.com/org/4061/classes" target="_blank">here</a>.</p>
    <p class="f4-ns f5 lh-copy">Please note that <b>all classes are signup only</b> and if no one is signed up an hour prior to the class, it will be cancelled.</p>
    <spinner [showSpinner]="showSpinner"></spinner>
    <div class="iframe-container">
        <iframe #scheduleIframe (load)="onIframeLoad(scheduleIframe)" name="frame2" src="https://app.punchpass.com/org/4061/classes?embed=true" height="700" width="100%"></iframe> 
    </div>
</div>