<div class="mw6 w-60-l w-80 center roboto pa2 mt4 pt6">
    <spinner [showSpinner]="showSpinner"></spinner>
    <ng-container *ngFor="let page of pages">
        <h2 class="f2-ns f3 playfair pa1 nploTeal fw4">{{ page?.title.rendered }}</h2>    
        <div [innerHTML]=" page?.content.rendered | safeHtmlPipe" class="f4-ns f5 lh-copy">
        </div>
    </ng-container>
    <h2 class="pt5">
        Have another question and couldn't find your answer here? Let us 
        <a href="mailto:noplacelikeom.pa@gmail.com?subject=Contact Us" class="no-underline">know</a>
    </h2>
</div>