<div class="mw6 w-60-l w-80 center raleway pa2 pt4">
    <div class="pb3">
        <h2 class="f2-ns f3 white bg-black">Beginner Flow</h2>
        <div class="f4-ns f5 lh-copy">
            <p>
                Vinyasa means to link breath with movement. This flow yoga will focus on flowing though poses with focus on both strengthening and lengthening.
            </p>
            <p>
                The practices as part of this class are considered introductory and thus are recommended for anyone open to exploring yoga. You will get a workout so it is also recommended you are comfortable with a moderate level of physical activity and endurance.
            </p>
        </div>
        <h2 class="f2-ns f3 white bg-black">Vinyasa Flow Yoga</h2>
        <div class="f4-ns f5 lh-copy">
            <p>
                Vinyasa means to link breath with movement. This flow yoga will focus on flowing though poses with focus on both strengthening and lengthening. Any level.
            </p>
        </div>
        <h2 class="f2-ns f3 white bg-black">Gentle Yoga</h2>
        <div class="f4-ns f5 lh-copy">
            <p>
                This class will use props and chairs to gently move into poses and will be focused on alignment and finding ease in each pose.
            </p>
        </div>
    </div>
</div>