<div class="w-100">
    <nav class="w-100 tracked tr raleway bg-near-white">
        <div id="top-nav-container">
            <button class="hamburger hamburger--collapse fl link f4 f3-ns" type="button" id="menu-toggle" (click)="toggle()" [ngClass]="{'is-active': isMenuExpanded}">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <p class="di mid-gray" id="address">
                8 E Main Street Waynesboro, PA 17268 - 717-576-6466
            </p>
            <ul id="social-nav">
                <li class="pa1 di">
                    <a href="mailto:noplacelikeom.pa@gmail.com?subject=Contact Us" class="no-underline mid-gray">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="pa1 di">
                    <a href="https://www.facebook.com/noplacelikeompa/" target="_blank" class="no-underline mid-gray">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="pa1 di">
                    <a href="https://www.instagram.com/zen_yama_mama/" target="_blank" class="no-underline mid-gray">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div id="main-nav-container" class="ttu raleway w-100" *ngIf="isMenuExpanded">
            <ul class="list" id="main-nav">
                <li>
                    <a routerLink="/welcome" routerLinkActive="active-link" class="f7 f5-ns tracked link mid-gray pr2">Home</a>
                </li>
                <li>
                    <a routerLink="/faq" routerLinkActive="active-link" class="f7 f5-ns tracked link mid-gray pr2">FAQ</a>
                </li>
                <li>
                    <a routerLink="/classes" routerLinkActive="active-link" class="f7 f5-ns tracked link mid-gray pr2">Classes</a>
                </li>
                <li>
                    <a routerLink="/schedule" routerLinkActive="active-link" class="f7 f5-ns tracked link mid-gray pr2">Schedule</a>
                </li>
                <!--li *ngFor="let p of pageLinks">
                    <a routerLink="{{ p }}" routerLinkActive="active-link" class="f7 f5-ns tracked link mid-gray pr2">{{ p }}</a>
                </li-->
            </ul>
        </div>
    </nav>
</div>