.nav-social p {
    font-size: .65em;
}

nav {
    position: fixed;
    top: 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);    
}

nav li,
nav #logo {
    display: inline-block;
}

nav li {
    text-transform: uppercase;
}

nav #main-nav li a {
    font-size: .75rem;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {  
    .nav-social p {
        font-size: 1em;
    }

    nav {
        position: fixed;
        top: 0;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    }
    
    ul,
    li,
    a,
    #nav-toggle-btn {
        display: inline-block;
    }

    nav #main-nav li a {
        font-size: 1rem;
    }
}